<!DOCTYPE HTML>
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitecore Hackathon | Looking forward to an exciting Hackathon!!</title>
    <link rel="stylesheet" type="text/css" href="~/assets/styles/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    @Html.Sitecore().VisitorIdentification()
</head>

<body>
    @Html.Sitecore().Placeholder("header")

    @Html.Sitecore().Placeholder("content")

    @Html.Sitecore().Placeholder("footer")

    <script src="./assets/scripts/tweetjs.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
    <script src="~/assets/scripts/scripts.js"></script>
</body>
</html>