<section id="pre-footer">
    <div class="container">

        <div class="row">
            Some other content here <br/>
            <p>
                With some other content
            </p>
        </div>
    </div>
</section>