@model HackatonWeb.Feature.Event.Models.EventItem

<div class="col-md-6">
    <div class="item-card">
        <div class="item-card-image" style="background-image: url(@Model.EventImage);"></div>
        <div class="content">
            @Model.EventLink
            <div class="card-date">
                @Model.EventDate
            </div>
            <div class="rtf">
                @Model.Description
            </div>
        </div>
    </div>
</div>