@model HackatonWeb.Feature.MailingList.Models.MailingList

<div class="col-md-6">
    <div class="suscribe">
        <div>
            <h3>@Model.Title</h3>

            <form action="">
                <input type="text" aria-label="@Model.LabelInputArial" placeholder="@Model.LabelInputPlaceHolder">
                <input type="submit" value="@Model.LabelButtonSubscribe"></button>
            </form>
        </div>
    </div>
</div>