<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                    type="HackatonWeb.Feature.MailingList.Config.RegisterHttpRoutes, HackatonWeb.Feature.MailingList" />
            </initialize>
        </pipelines>
    </sitecore>
</configuration>