@using HackatonWeb.WebSite.Models

@model HeaderContentModel

<div id="branding" role="banner">
    <div id="site-title">
        <a href="http://www.sitecorehackathon.org/" title="Sitecore Hackathon" rel="home">

            @Model.Logo
            @*<img src="./assets/images/Sitecore-Hackathon-logo-small-own-it.png"
                 alt="Sitecore Hackathon" class="x1" width="500" height="74">
            <img src="./assets/images/Sitecore-Hackathon-logo-small-own-it.png"
                 alt="Sitecore Hackathon" class="x2" width="250" height="37">*@
        </a>
    </div>

    <div id="site-description">@Model.Description</div>
</div><!-- #branding -->
