@using HackatonWeb.WebSite.Models

@model HeaderContentModel

<div id="branding" role="banner">
    <div id="site-title">
        <a href="http://www.sitecorehackathon.org/" title="Sitecore Hackathon" rel="home">
            @Model.Logo
        </a>
    </div>

    <div id="site-description">@Model.Description</div>
</div><!-- #branding -->
