@using Sitecore.Mvc

@Html.Sitecore().Placeholder("heroContent")

<div class="older-events">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="item-card">
                    <div class="item-card-image">
                        <img src="./assets/images/card1.jpg" alt="image description">
                    </div>
                    <div class="content">
                        <a href="#">Sitecore Hackathon 2015 – Jan 2015</a>
                        <div class="card-date">
                            26 January, 2015
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item-card">
                    <div class="item-card-image">
                        <img src="./assets/images/card1.jpg" alt="image description">
                    </div>
                    <div class="content">
                        <a href="#">Sitecore Hackathon 2015 – Jan 2015</a>
                        <div class="card-date">
                            26 January, 2015
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</section>
