@using Sitecore.Mvc

@Html.Sitecore().Placeholder("heroContent")

<div class="older-events">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("eventContent")
            @Html.Sitecore().Placeholder("mainContent")
        </div>
    </div>
</div>