@using HackatonWeb.WebSite.Models

@model List<NavigationMenu>

<nav id="primary-nav">
    <ul id="primary-nav-list" class="l_tinynav1">
        @foreach (var item in Model)
        {
            <li id="@item.MenuId"
                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-135 current_page_item menu-item-159">
                @item.MenuLink
                @if (item.SubMenus.Count > 0)
                {
                <ul class="sub-menu">
                    @foreach (var subMenu in item.SubMenus)
                    {
                        <li id="@subMenu.MenuId"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1094">
                            @subMenu.MenuLink
                        </li>
                    }
                </ul>
                }
            </li>
        }
    </ul>
</nav>
