@model HackatonWeb.Feature.Map.Models.MapTeams

    <div id='map'>
        <div class="country-marker" data-cordinates="[-77.038659, 38.931567]" data-name="usa" data-text="<strong>USA</strong><p>1 team suscribed</p>"></div>
        <div class="country-marker" data-cordinates="[-78.639183, -1.684712]" data-name="ecuador" data-text="<strong>Ecuador</strong><p>3 teams suscribed</p>"></div>
    </div>

    <div class="modal" id="MyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Model.Title <span id="modal-country"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Model.Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="teams">
                        <div class="team" data-country="ecuador">
                            <div class="team-title">
                                Team 1
                            </div>
                            <div class="team-body">
                                <div class="team-country">Ecuador</div>
                                <div class="team-mate">Ramiro Batallas</div>
                                <div class="team-mate">Marcelo Bonilla</div>
                                <div class="team-mate">Jorge Cardenas</div>
                            </div>
                        </div>
                        <div class="team" data-country="ecuador">
                            <div class="team-title">
                                Team 1
                            </div>
                            <div class="team-body">
                                <div class="team-country">Ecuador</div>
                                <div class="team-mate">Ramiro Batallas</div>
                                <div class="team-mate">Marcelo Bonilla</div>
                                <div class="team-mate">Jorge Cardenas</div>
                            </div>
                        </div>
                        <div class="team" data-country="ecuador">
                            <div class="team-title">
                                Team 1
                            </div>
                            <div class="team-body">
                                <div class="team-country">Ecuador</div>
                                <div class="team-mate">Ramiro Batallas</div>
                                <div class="team-mate">Marcelo Bonilla</div>
                                <div class="team-mate">Jorge Cardenas</div>
                            </div>
                        </div>
                        <div class="team" data-country="usa">
                            <div class="team-title">
                                Team 1
                            </div>
                            <div class="team-body">
                                <div class="team-country">Ecuador</div>
                                <div class="team-mate">Ramiro Batallas</div>
                                <div class="team-mate">Marcelo Bonilla</div>
                                <div class="team-mate">Jorge Cardenas</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Model.Close</button>
                </div>
            </div>
        </div>
    </div>