@model HackatonWeb.Feature.Map.Models.Team

<div class="team" data-country="@Model.Country.CountryKey">
    <div class="team-title">
        @Model.TeamName
    </div>
    <div class="team-body">
        <div class="team-country">@Model.Country.CountryName</div>       
        
        @foreach (var teamMate in Model.TeamMates)
        {
            Html.RenderPartial("~/Views/Mate.cshtml", teamMate);
        }
    </div>
</div>