@model HackatonWeb.Feature.Map.Models.Team

<div class="team" data-country="@Model.CountryKey">
    <div class="team-title">
        Team 1
    </div>
    <div class="team-body">
        <div class="team-country">@Model.CountryName</div>
        <div class="team-mate">Ramiro Batallas</div>
        <div class="team-mate">Marcelo Bonilla</div>
        <div class="team-mate">Jorge Cardenas</div>
    </div>
</div>