@model HackatonWeb.Feature.Twitter.Models.TwitterWidget

<div class="col-md-6">
    <div class="tweets">
        <h3>@Model.Title</h3>
        <div id="loader"></div>
        <div id="tweets" data-hashtag="@Model.HashTag"></div>
    </div>
</div>